body {
	font-family: 'Open Sans', sans-serif;
}

.uploader {
	padding-top: 150px;
}

#submit-all {
	margin: 40px auto 0 auto;
	display: block;
	cursor: pointer;
}

#reset-btn {
	margin: 40px auto 0 auto;
	display: block;
	cursor: pointer;
}
